
.DS_Store
.idea/
.venv/
logs/
settings/

__pycache__/
*.py[cod]

venv/
.env

dist/
build/
Output/
*.egg-info/
*.spec~

.coverage
*.py,cover
.cache/

*.py,cover

.ipynb_checkpoints
backend.py

src/check_data_collector/